<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.6.0"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.6.0">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>appName</name>
          <description>Application to build</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>weissbeerger-web</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>def dockerfilePath=&quot;/var/jenkins_home/docker-images/weissbeerger-web&quot;

pipeline {
    
    agent any
    
    stages {
        stage(&quot;Build_docker_image&quot;) {
            steps {
                    script {
                        def applicationVersion=&quot;v${BUILD_NUMBER}&quot;
                        def weissbeergerImage = docker.build(&quot;${appName}:${applicationVersion}&quot;, &quot;${dockerfilePath}&quot;) 
                        //weissbeergerImage.push()
                        echo &quot;${appName} application (version: ${applicationVersion}) successfully built.&quot;
                        echo &quot;Run the following command to re-deploy it &apos;export appVersion=${applicationVersion} &amp;&amp; docker-compose up -d weissbeerger-web&apos;&quot;
                    }
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>